<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>favorite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">favorite</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="mt-20 px-10">
    <div>

      <ion-list class="list">
        <ion-item *ngFor="let favorite of favorites | async" class="text-right mb-2">
          <ion-label><ion-icon name="star" class="mr-2"></ion-icon> {{favorite.name}}</ion-label>
        </ion-item>
      </ion-list>

    </div>
  </div>

</ion-content>
