<ion-content class="ion-padding">
  <div class="flex-custom">
    <div>

      <ion-item fill="outline" class="mb-5">
        <ion-label position="floating">Username</ion-label>
        <ion-input class="border-none"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="mb-5">
        <ion-label position="floating">Password</ion-label>
        <ion-input class="border-none" type="password"></ion-input>
      </ion-item>

      <ion-button class="btn-login ">LOGIN</ion-button>

    </div>

    <div class="mt-10">
      Don't have an account? <span routerLink="/signup" class="signup">SIGN UP</span>
    </div>

  </div>
</ion-content>