<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
    <ion-item>
      <ion-button (click)="logoutUser()" slot="end" class="text-capitalize">log out</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="mt-20 px-10">
    <form [formGroup]="searchForm" novalidate>

      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div *ngIf="this.searchForm.controls?.['name'].touched && this.searchForm.controls?.['name'].invalid">
              <ion-text *ngIf="errorControl.name.errors?.required">
                Search is required
              </ion-text>
            </div>
            <ion-item fill="outline" class="mb-5">
              <ion-label position="floating">Search</ion-label>
              <ion-input formControlName="name" class="border-none"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-list class="filter-container">
              <div *ngIf="this.searchForm.controls?.['category'].touched && this.searchForm.controls?.['category'].invalid">
                <ion-text *ngIf="errorControl.category.errors?.required">
                  Required
                </ion-text>
              </div>
              <ion-item>
                <ion-select formControlName="category" placeholder="Filter">
                  <ion-select-option value="horse">Horse Name</ion-select-option>
                  <ion-select-option value="jockey">Jockey</ion-select-option>
                  <ion-select-option value="trainer">Trainer</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12" class="text-center">
            <ion-button (click)="search()" class="text-capitalize" class="submit-btn h-14 w-32 mb-6">submit</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list class="list">
        <ion-item class="text-right mb-2">
          <ion-label>
            Lorem Ipsum 1
            <ion-button (click)="addToFavorite()" class="text-uppercase" color="success">add to favorite</ion-button>
          </ion-label>
        </ion-item>
        <ion-item class="text-right mb-2">
          <ion-label>
            <ion-icon name="star" class="mr-2"></ion-icon> 
            Lorem Ipsum 2
            <ion-button (click)="removeFavorite()" class="text-uppercase" color="danger">remove favorite</ion-button>
          </ion-label>
        </ion-item>
        <ion-item class="text-right mb-2">
          <ion-label>
            <ion-icon name="star" class="mr-2"></ion-icon> 
            Lorem Ipsum 3
            <ion-button (click)="removeFavorite()" class="text-uppercase" color="danger">remove favorite</ion-button>
          </ion-label>
        </ion-item>
      </ion-list>

    </form>
  </div>

</ion-content>